//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.10
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Sat 04 15 07:44:42 2023

IO_LOC "led[2]" 11;

IO_LOC "led[1]" 10;

IO_LOC "led[0]" 9;

